header{
     padding: 0 60px;
}
.container
{
    
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    gap: 3.2rem;
    font-family: "Bree Serif";
  font-weight: 600;
  list-style: none;

}
li a{
    outline: none;
}